<div class="auth-wrapper">
    <div class="auth-wrapper-inner">
        <div class="auth-container">
            <div class="login-wrapper">
                <div class="form-logo" style="text-align:center;">
                    <img src="/assets/nixi-logo.png" alt="form-logo">
                </div>
                <p class="text" style="text-align:center;">Reset Password</p>
                <form class=" justify-content-between" [formGroup]="createPasswordForm">
                    <div class="row flex-column">
                        <div class="col-lg-12">
                            <div class="form-group appoinment-form-input">
                                <input id="username" formControlName="userName" type="text" class="form-control"
                                       placeholder="Username" maxlength="15"  autocomplete="off"/>
                                <div *ngIf="f.userName.invalid && submitted " class="text-danger">
                                    <small *ngIf="f.userName.errors.required">
                                        User name is
                                        required
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group appoinment-form-input">
                                <input id="mobile-no" formControlName="oldPassword" type="password" class="form-control"
                                       placeholder="Old password"  autocomplete="off"/>
                                <div *ngIf="f.oldPassword.invalid && submitted " class="text-danger">
                                    <small *ngIf="f.oldPassword.errors.required">
                                        Old Password is
                                        required
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group appoinment-form-input">
                                <input id="mobile-no" formControlName="newPassword" type="password" class="form-control"
                                       placeholder="New password"  autocomplete="off"/>
                                <div *ngIf="f.newPassword.invalid && submitted " class="text-danger">
                                    <small *ngIf="f.newPassword.errors.required">
                                        New Password is
                                        required
                                    </small>
                                    <small *ngIf="f.newPassword.errors.pattern">Minimum eight characters, at least one letter, one number and one special character</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group appoinment-form-input">
                                <input id="mobile-no" formControlName="confirmPassword" type="password" class="form-control"
                                       placeholder="Confrim password"  autocomplete="off"/>
                                <div *ngIf="f.confirmPassword.invalid && submitted " class="text-danger">
                                    <small *ngIf="f.confirmPassword.errors.required">
                                        Confirm Password is
                                        required
                                    </small>
                                </div>
                                <div *ngIf="f.confirmPassword.value && f.confirmPassword.value != f.newPassword.value && submitted "
                                     class="text-danger">
                                    <small>Confirm Password is incorrect</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <button class="btn submit-button btn-block" (click)="setPassword()">Reset Password</button>
                        <p class="switch-text"><a routerLink="/auth">Go to Login</a></p>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <app-loading *ngIf="loading"></app-loading>
</div>



