<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white me-2">
            <i class="mdi mdi-home"></i>
        </span> List of Affiliates > View
    </h3>

    <div class="col-sm-5">
        <button type="button" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
            <div class="handle"></div>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">

                    </div>
                    <div class="col-4">

                    </div>
                    <div class="col-4">
                        <div class="Refference">Refference Number :-98597tyce</div>

                    </div>
                </div>
             
                <div class="row">
                    <div class="col-3">

                    </div>
                    <div class="col-6 search">
                        <form class="example" action="/action_page.php" style="margin:auto;max-width:500px">
                            <button type="submit"><i class="fa fa-search"></i></button>
                            <input type="text" placeholder="Search.." name="search2">

                        </form>


                    </div>
                    <div class="col-3">
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>


                        </label>
                        <div class="d-inline p-2 bg-link text-blue">Activated</div>

                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <div class="form-check form-check-info">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" checked=""> <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </th>
                                <th> Start Date </th>
                                <th> End Date </th>
                                <th> Referral Payment Status </th>
                                <th> Affiliate Payment Status</th>
                                <th> Account Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-check form-check-info">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" checked=""> <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    10 - 05 - 22
                                </td>
                                <td>21-01-22 </td>
                                <td>
                                    <label class="badge badge-gradient-success">PAID</label>
                                </td>
                                <td> <label class="badge badge-gradient-success">UNPAID</label></td>
                                <td> <label class="badge badge-gradient-info">ACTIVATED</label></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check form-check-info">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" checked=""> <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    10-05-2022
                                </td>
                                <td>21-01-22 </td>
                                <td>
                                    <label class="badge badge-gradient-success">UNPAID</label>
                                </td>
                                <td> <label class="badge badge-gradient-success">PAID</label></td>
                                <td> <label class="badge badge-gradient-info">DEACTIVATED</label></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check form-check-info">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" checked=""> <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    10-05-2022
                                </td>
                                <td>10-05-2022 </td>
                                <td>
                                    <label class="badge badge-gradient-success">PAID</label>
                                </td>
                                <td> <label class="badge badge-danger">PAID</label></td>
                                <td> <label class="badge badge-gradient-info">DEACTIVATED</label></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check form-check-info">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" checked=""> <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    10-05-2022
                                </td>
                                <td>10-05-2022 </td>
                                <td>
                                    <label class="badge badge-gradient-success">UNPAID</label>
                                </td>
                                <td> <label class="badge badge-gradient-danger">PAID</label></td>
                                <td> <label class="badge badge-gradient-warning">ACTIVATED</label></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
