<!-- <div class="blog-featured-wrapper">
    <div class="blog-card">
        <div class="featured-image">
            <img src="/assets/blog-image.jpg" alt="">
        </div>
        <div class="blog-description">
            <h3 class="title">
                Malady Empowers People to Truly Know Their Health
            </h3>
            <p class="detail-text">
                The COVID-19 pandemic has dramatically transformed our view of healthcare services, in fact, our view of health in general. 
            </p>
            <div class="author-detail-wrapper">
                <div class="author-profile">
                    <div class="author-image">
                        <img src="/assets/Malady-Logo-Pink.png" alt="">
                    </div>
                    <div class="author-detail">
                        <h4 class="author-name">Malady</h4>
                        <label for="" class="author-post-time">
                            20 Dec 2021, Monday
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->