<div class="container-scroller">
    <app-patient-header></app-patient-header>
    <!--<div class="content-wrapper-outer ml-auto" [ngClass]="{'toggleMenu' : isSidebarClose}">
        <app-patient-header ></app-patient-header>
        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>-->

    <div class="container-fluid page-body-wrapper pt-0 proBanner-padding-top">
        <app-patient-sidebar></app-patient-sidebar>

        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <router-outlet></router-outlet>

            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="container-fluid d-flex justify-content-between">
                    <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">kyc.nixi.in</span>
                    <!--<span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin template</a> from Bootstrapdash.com</span>-->
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>


</div>