.web-app-wrapper{
    display: flex;
    background: #E5E5E5;
    min-height: 100vh;
    .content-wrapper-outer{
        width: calc(100% - 227px);
        transition: all ease-in-out 300ms;
        &.toggleMenu{
            width: 100%; 
            transition: all ease-in-out 300ms;
        }
        @media(max-width: 991px){
            width: 100%;
            transition: all ease-in-out 300ms;
            &.toggleMenu{
                width: 100%;
                transition: all ease-in-out 300ms;
            }
        }
        .content-wrapper{
            padding: 35px 22px;
        }
    }
}